footer.Footer {
	display: flex;
	@apply bg-primary;
	@apply text-secondary;
}
footer.Footer a {
	@apply text-secondary;
}
.FooterInner {
	@apply py-12;
	@apply px-8;
	@apply w-full;
	max-width: unset;
}
.FooterColumns {
	@apply pt-8;
	@apply md:grid;
	@apply md:grid-cols-2;
	@apply md:gap-4;
}
.FooterBranding a[href="#home"] {
	text-decoration: none;
}
.FooterBranding a[href="#home"] img {
	width: 12rem;
	height: auto;
}
.FooterBrandingTitle {
	@apply sr-only;
}
nav.FooterNav {
	
}
ul.FooterNavItems {
	@apply m-0;
	@apply p-0;
	@apply list-none;
	@apply max-w-none;
	@apply text-sm;
}
li.FooterNavItem {
	@apply p-0;
}
li.FooterNavItem a.FooterNavItemButton {
	/* @apply lowercase; */
}
.FooterSocials {
	@apply mt-8;
	@apply md:mt-0;
	@apply md:text-right;
}
ul.FooterSocialsItems {
	@apply p-0;
}
li.FooterSocialsItem {
	@apply p-0;
}
.FooterSocialsItemButton {

}