.Verify {
	@apply h-full;
	@apply mt-header;
	min-height: calc(85vh - var(--spacing-header));
	position: relative;
	display: flex;
}
.Verify .Header {
	@apply bg-primary;
}
.VerifyColumns {
	@apply grid;
    @apply grid-cols-1;
    @apply lg:grid-cols-[var(--spacing-upload-column)_minmax(0,1fr)];
	@apply w-full;
	@apply min-h-full;
}
.VerifyColumn {
	@apply px-6;
	@apply py-8;
	@apply min-h-full;
	@apply flex;
}
.VerifyColumnUpload {
	@apply w-full;
	@apply bg-secondary;
	@apply shadow-core;
	position: relative;
}
.Verify_initial .VerifyColumnUpload {
	@apply absolute;
	@apply items-center;
}
.VerifyColumnInfo {
	@apply min-w-0;
	@apply bg-tertiary;
}