.HomeSection#about .HomeSectionInner {
	@apply max-w-5xl;
}
.HomeSection#about h2.HomeSectionTitle {
	@apply hidden;
}
.HomeSection#about .HomeSectionLede {
	@apply mb-4;
	@apply md:mb-0;
    @apply font-body;
	@apply text-3xl;
	@apply leading-11;
    @apply md:text-4xl;
	@apply md:leading-13;
	@apply font-body;
	@apply text-primary;
}
.HomeSectionSubsection {
	@apply flex;
	@apply flex-col;
	@apply md:flex-wrap;
	@apply md:flex-row;
}
.HomeSectionSubsection:nth-child(odd) {
	@apply bg-secondary-dark;
	@apply flex-col-reverse;
	@apply md:flex-row-reverse;
}
.HomeSectionSubsection:nth-child(even) {
	@apply bg-secondary;
	@apply flex-col-reverse;
	@apply md:flex-row;
}
.HomeSectionSubsectionColumn {
	@apply w-full;
	@apply md:w-1/2;
	position: relative;
}
.HomeSectionSubsectionContent {
	@apply px-4;
	@apply py-8;
	@apply md:p-8;
	@apply md:min-h-125;
}
.HomeSectionSubsectionContentTitle {

}
.HomeSectionSubsectionContentBody {
	@apply text-primary-light;
    @apply font-body;
    @apply text-2xl;
	@apply font-body-normal;
}
.HomeSectionSubsectionImage {
	@apply min-h-125;
}
.HomeSectionSubsectionImageFigure {
	width: 100%;
    height: 100%;
}
.HomeSectionSubsectionImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
	/* object-position: center right; */
}