/* Header */
.Header {
	@apply w-full;
	@apply h-header;
	@apply z-(--z-header);
	@apply fixed;
	@apply inset-0;
	@apply text-secondary;
	/* @apply transition-[background-color]; */
	/* @apply duration-300; */
	/* @apply ease-out; */
}
.Header.Header_belowHero {
	@apply bg-primary;
}
/* .Header::before {
	content: "";
	@apply bg-primary;
	@apply size-full;
	@apply inset-0;
	@apply absolute;
	@apply transition-[transform];
	@apply duration-200;
	@apply ease-in-out;
	z-index: 1;
	transform: translateY(-100%);
}
.Header.Header_belowHero::before {
	transform: translateY(0);
} */
.HeaderInner {
	@apply h-full;
	@apply py-1;
	@apply px-8;
	@apply flex;
	@apply items-center;
	@apply justify-between;
	position: relative;
	z-index: 2;
}
.Header img {
	@apply w-auto;
	@apply h-header-logo;
}
nav.HeaderNav {
	@apply hidden;
	@apply lg:block;
}
ul.HeaderNavItems {
	@apply p-0;
	@apply m-auto;
	@apply flex;
	@apply flex-row;
	@apply flex-wrap;
	@apply list-none;
	@apply space-x-4;
}
li.HeaderNavItem {
	@apply p-0;
}
a.HeaderNavItemButton {
	/* @apply lowercase; */
	@apply text-shadow-image;
	@apply transition-all;
}
.Header_belowHero a.HeaderNavItemButton {
	@apply text-shadow-none;
}