/* Header */
.Header {
	@apply w-full;
	@apply h-header;
	@apply z-(--z-header);
	@apply fixed;
	@apply inset-0;
	@apply text-secondary;
}
.Header.Header_belowHero {
	@apply text-primary-dark;
	@apply bg-white;
	@apply shadow-core;
}
.HeaderInner {
	@apply h-full;
	@apply py-1;
	@apply px-4;
	@apply sm:px-6;
	@apply md:px-10;
	@apply my-auto;
	@apply mx-auto;
	@apply flex;
	@apply items-center;
	@apply max-w-inner-lg;
	position: relative;
	z-index: 2;
}
.HeaderHome {
	@apply h-full;
	@apply flex;
	@apply items-center;
	@apply mr-auto;
}
.HeaderHome img.HeaderHomeLogo {
	@apply w-auto;
	@apply h-header-logo;
}
.Header .HeaderHome img.HeaderHomeLogo_light,
.Header.Header_belowHero .HeaderHome img.HeaderHomeLogo_dark {
	@apply block;
}
.Header .HeaderHome img.HeaderHomeLogo_dark,
.Header.Header_belowHero .HeaderHome img.HeaderHomeLogo_light {
	@apply hidden;
}
nav.HeaderNav {
	@apply mx-8;
	@apply hidden;
	@apply lg:block;
}
ul.HeaderNavItems {
	@apply p-0;
	@apply m-auto;
	@apply flex;
	@apply flex-row;
	@apply flex-wrap;
	@apply list-none;
	@apply space-x-4;
}
li.HeaderNavItem {
	@apply p-0;
}
a.HeaderNavItemButton {
	@apply text-base;
	@apply font-display;
	@apply font-display-normal;
}
.Header.Header_belowHero a.HeaderNavItemButton {
	@apply bg-transparent;
}
.HeaderLocale {
	@apply h-full;
	@apply flex;
	@apply items-center;
}
nav.HeaderLocaleNav {
	@apply rounded-sm;
	@apply overflow-hidden;
}
ul.HeaderLocaleItems {
	@apply pl-0;
	@apply flex;
}
li.HeaderLocaleItem {
	@apply pl-0;
	@apply pb-0;
	@apply flex;
}
li.HeaderLocaleItem a.HeaderLocaleItemLink {
	@apply py-1;
	@apply px-2;
	@apply h-full;
	@apply uppercase;
	@apply text-xs;
	@apply font-display;
	@apply font-display-medium;
	@apply no-underline;
	@apply bg-primary-dark;
	opacity: 0.5;
}
.Header.Header_belowHero li.HeaderLocaleItem a.HeaderLocaleItemLink {
	@apply bg-secondary;
}
li.HeaderLocaleItem a.HeaderLocaleItemLink_active {
	opacity: 0.9;
}
li.HeaderLocaleItem a.HeaderLocaleItemLink:hover {
	opacity: 1;
}