/* Header */
.Header {
	@apply w-full;
	@apply h-header;
	@apply z-(--z-header);
	@apply fixed;
	@apply inset-0;
	@apply text-secondary;
}
.Header.Header_belowHero {
	@apply bg-primary;
}
.HeaderInner {
	@apply h-full;
	@apply py-1;
	@apply my-auto;
	@apply mx-8;
	@apply flex;
	@apply items-center;
	@apply justify-center;
	position: relative;
	z-index: 2;
}
.HeaderHome {
	@apply h-full;
	@apply absolute;
	@apply top-0;
	@apply left-0;
	@apply flex;
	@apply items-center;
}
.HeaderHome img.HeaderHomeLogo {
	@apply w-auto;
	@apply h-header-logo;
}
nav.HeaderNav {
	@apply hidden;
	@apply lg:block;
}
ul.HeaderNavItems {
	@apply p-0;
	@apply m-auto;
	@apply flex;
	@apply flex-row;
	@apply flex-wrap;
	@apply list-none;
	@apply space-x-4;
}
li.HeaderNavItem {
	@apply p-0;
}
a.HeaderNavItemButton {
	@apply bg-[rgba(0,0,0,0.4)];
	@apply transition-all;
}
.Header.Header_belowHero a.HeaderNavItemButton {
	@apply bg-transparent;
}
.HeaderLocale {
	@apply h-full;
	@apply absolute;
	@apply top-0;
	@apply right-0;
	@apply flex;
	@apply items-center;
}
nav.HeaderLocaleNav {

}
ul.HeaderLocaleItems {
	@apply pl-0;
	@apply flex;
	@apply space-x-1.5;
}
li.HeaderLocaleItem {
	@apply pl-0;
	@apply pb-0;
}
li.HeaderLocaleItem a.HeaderLocaleItemLink {
	@apply uppercase;
	@apply text-xs;
	@apply no-underline;
	opacity: 0.75;
}
li.HeaderLocaleItem a.HeaderLocaleItemLink_active {
	opacity: 0.9;
}
li.HeaderLocaleItem a.HeaderLocaleItemLink:hover {
	opacity: 1;
}