ul.TeamItems {
	@apply p-0;
	@apply m-0;
	@apply w-full;
	@apply !max-w-none;
	@apply grid;
	@apply gap-12;
	@apply md:grid-cols-2;
	@apply md:gap-4;
	@apply list-none;
}
li.TeamItem {
	@apply pt-0;
}
hgroup.TeamItemHeading {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 0.5rem;
	margin-bottom: 0.25rem;
}
.TeamItemName {
	width: 160px;
	margin-bottom: 0;
	@apply font-body-bold;
	color: inherit;
	font-size: inherit;
	text-transform: none;
}
.TeamItemRole {
	@apply text-sm;
	@apply text-primary-light;
	white-space: nowrap;
}
.TeamItemWebsite {
	@apply text-sm;
}
.TeamItemBio {
	@apply text-sm;
	@apply leading-5;
	@apply mt-4;
}