figure.Figure {
	position: relative;
	@apply rounded-2xl;
	@apply overflow-hidden;
	@apply shadow-sm;
}
figure.Figure img {
	@apply w-full;
}
figcaption.FigureCaption {
	max-width: 100%;
	position: absolute;
	z-index: 2;
	pointer-events: none;
	user-select: none;
	@apply bottom-2;
	@apply right-2;
	@apply text-2xs;
	@apply text-secondary;
	@apply text-shadow-image;
	@apply transition-opacity;
}
figure.Figure:hover figcaption.FigureCaption {
	/* opacity: 1; */
}