* {
	box-sizing: border-box;
}
html, body {
	font-family: var(--font-body);
	font-size: var(--text-base);
	font-weight: 400;
	line-height: 1.7em;
	color: var(--color-primary-dark);
	background-color: var(--color-secondary);
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
}
:is(p, ul) {
	margin: 1rem 0;
}
:is(p, ul):first-child {
	margin-top: 0;
}
:is(p, ul):last-child {
	margin-bottom: 0;
}
p {

}
ul {
	padding-left: 1em;
}
li {
	padding-left: 0.5em;
	padding-bottom: 0.5em;
}
/* Headings */
:is(h1, h2, h3, h4) {
	line-height: 1.2em;
	text-transform: lowercase;
	font-family: var(--font-display);
	font-weight: var(--font-weight-display-bold);
	color: var(--color-primary);
}
:is(h2, h3, h4) {
	font-family: var(--font-display);
	line-height: 1.1em;
	margin: 0 0 0.5em 0;
}
:is(h2, h3, h4):first-child {
	margin-top: 0;
}
h1 {
	font-size: var(--text-6);
}
h2 {
	font-size: var(--text-5);
}
h3 {
	font-size: var(--text-4);
}
/* Links / Buttons */
a {
	color: currentColor;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--color-primary-light);
}
a:hover, a:focus {

}
button, a {
	transition: all 300ms var(--transition-function);
}
button, a.button, p a {
	color: currentColor;
	text-decoration: none;
	border-radius: 10px;
	border-color: var(--color-primary-light);
	border-style: solid;
	border-width: 1px;
	/* outline-offset: 1px; */
	padding: 0.25em 0.5em;
	margin: 0 0.25em;
}
:is(button, a.button):hover,
:is(button, a.button):focus {
	border-color: transparent;
}

:is(button, a.button).invert {
	/* color: var(--color-secondary); */
	/* border-color: var(--color-primary-light); */
}
:is(button, a.button).invert:is(:hover, :focus) {
	color: var(--color-primary);
	background-color: var(--color-secondary-dark);
}
/* Code */
code {
	font-size: 0.9em;
	line-height: 1;
	display: inline-block;
	padding: var(--space-1);
	background-color: rgba(0,0,0,0.1);
	border-radius: 0.5em;
}
a code {
	padding-left: 0;
	padding-right: 0;
}
/* Sections */
section {
	display: flex;
	flex-direction: column;
	position: relative;
}
section:nth-child(odd) {
	background-color: var(--color-secondary);
}
section:nth-child(even) {
	background-color: var(--color-secondary-dark);
}
section:nth-child(odd) .button:is(:hover, :focus) {
	background-color: var(--color-secondary-dark);
}
section:nth-child(even) .button:is(:hover, :focus) {
	background-color: var(--color-secondary);
}
section > section {
	/*background-color: var(--color-secondary-dark) !important;*/
}
/* Inners */
.inner {
	width: 100%;
	max-width: var(--width-inner);
	margin: auto;
	padding: 1rem 1rem;
	@media (min-width: 768px) {
		padding: 6rem 2rem;
	}
}
.inner p, .inner ul {
	max-width: var(--width-paragraph);
}
/* Columns */
.cols {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.cols.cols-reverse {
	flex-direction: row-reverse;
}
.col {
	width: 50%;
	@media (max-width: 740px) {
		width: 100%;
	}
}
.col.text {
	min-height: 500px;
}
.col.image {
	position: relative;
	min-height: 500px;
}
.col.image figure {
	width: 100%;
	height: 100%;
}
.col.image figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}
.col .inner {
	padding: var(--space-10) var(--space-6);
	/*max-width: var(--width-paragraph);*/
}
/* Overlines */
.overline {
	font-size: var(--text-1);
	font-family: var(--font-display);
	font-weight: 800;
	letter-spacing: 0.5ch;
	text-transform: uppercase;
	color: var(--color-primary);
}
/* Subtitles */
.subtitle {
	color: var(--color-primary-light);
	font-family: var(--font-body);
	font-size: var(--text-3);
	font-weight: var(--font-weight-display-normal);
	line-height: 1.5;
}
.subtitle u {
	color: var(--color-primary);
	text-decoration: none;
}
/* Screen-reader only */
.sr {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}